<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="PredisServiceProvider Test Suite">
            <directory suffix=".php">tests/Predis/Silex/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
